h1 {
    padding: 10px; 
}

.card-stats p {
    text-align: center; 
}

.wide {
    width: 300px;
}

.spacer {
    margin-bottom: 50px; 
}

.characterHolder:hover {
    border-style: dashed; 
    border-color: teal; 
    border-width: 2px; 
    
}

.characterHolderDefeated {
    opacity: .75;
}

.characterHolderSelected {
    opacity: 0.75;
}

.header {
    text-align: center; 
    margin: 0 auto; 
    
}

.footer {
    height: 10px; 
}

.progress {
    height: 25px; 
}

.progress-bar {
    width: 100%; 
    height: 25px; 
}

.metric {
    margin-left: 50%;
}
.characterHolder  {
    
}

.characterLabel p {
    margin: 0; 
    padding: 0px;  
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.characterImgHolder {
    /* margin: auto auto;  */
    
}

.characterImgHolder img {
    /* height: 155px;  */
    /* width: 150px;  */
    padding: 0px; 
    margin: 0;
}

.card-stats { 
    text-align: left;
}

#vsLabel {
    
    position: relative; 
    top: 100%;
}

#vsCard {
    border-width: 0; 
}

#vsBody {
    margin: 0 auto; 
}






