body {
    background-color: black; 
    opacity: 1; 
    background-image: url(../images/death_star.jpeg);
    background-repeat: no-repeat;
}

h1 {
    padding: 10px; 
}

#vsCard {
    background-color:rgba(255,0,0,0);
}

 h2 {
     color: white; 
  
}


.card-stats p {
    text-align: center; 
}

.winner {
    opacity: 1;
}

.spacer {
    margin-bottom: 50px; 
}

.characterHolder:hover {
    border-style: dashed; 
    border-color: yellow; 
    border-width: 3px; 
    
}

.characterHolderDefeated {
    opacity: .50;
}

.characterHolderSelected {
    opacity: 0.75;
}

.header {
    text-align: center; 
    margin: 0 auto; 
    
}

.footer {
    height: 10px; 
}

.progress {
    height: 25px; 
}

.progress-bar {
    width: 100%; 
    height: 25px; 
}

.metric {
    margin-left: 50%;
}
.characterHolder  {
    
}

.characterLabel p {
    margin: 0; 
    padding: 0px;  
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.characterImgHolder {
    /* margin: auto auto;  */
    
}

.characterImgHolder img {
    /* height: 155px;  */
    /* width: 150px;  */
    padding: 0px; 
    margin: 0;
}

.card-stats { 
    text-align: left;
}

#vsLabel {
    
    position: relative; 
    top: 100%;
}

#vsCard {
    border-width: 0; 
}

#vsBody {
    margin: 0 auto; 
}






