div {
    /* border: 1px solid black;  */
}

.metric {
    margin-left: 50%;
}
.characterHolder  {
    
}

.characterLabel p {
    margin: 0; 
    padding: 0px;  
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.characterImgHolder {
    /* margin: auto auto;  */
    
}

.characterImgHolder img {
    /* height: 155px;  */
    /* width: 150px;  */
    padding: 0px; 
    margin: 0;
}

.card-stats { 
    text-align: left;
}

#vsLabel {
    
    position: relative; 
    top: 100%;
}

#vsCard {
    border-width: 0; 
}

#vsBody {
    margin: 0 auto; 
}






